<div class="container">
    <div class="col-md-6">
    <div class="card">
        <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6> Begin Your Journey with Us!! </h6>   
        </div>
        <br>
      
      <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
      <span class="input-span">
      <label for="text" class="label">Full Name</label>
      <input type="email" formControlName="fullname" class="form-control" id="exampleInputEmail1"></span>
  
      <span class="input-span">
      <label for="exampleInputPassword1" class="label">Mobile Number</label>
      <input type="email"formControlName="mobile"  maxlength="10" class="form-control" id="exampleInputPassword1" ></span>

      <span class="input-span">
      <label for="exampleInputEmail1" class="label">Email Address</label>
      <input type="email"formControlName="email" class="form-control" id="exampleInputEmail1" ></span>

      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" ></span>

      <div class="eyeshow" (click)="togglePasswordVisibility()">
        <i class="bi bi-eye-slash" style="color: black;" id="togglePassword"></i>
        </div>
      <input class="submit" type="submit" [disabled]="!signupForm.valid" (click)="signup()" value="Sign Up">
      <span class="span">Already registered? <a routerLink="/login"> click to Login!!</a></span>
      </form>

    </div>
  </div>
  </div>
  
  