.container-1
{
    width: 500px;
    height: 100%;
}
.btn {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    margin-top: 1rem;
}
.map-container {
    width: 100%;
    height: 450px;
    margin-top: 2rem;
}
.wrapper {
    display: flex;
    gap: 10px;
    font-family: monospace;
    left: 1042px;
    position: absolute;
    top: 172px;
}

  
  .wrapper > div {
    text-align: center;
  }
  
  .wrapper > div + div {
    border-inline-start: 1px solid #d6cfcf;
    padding-inline-start: 15px;
  }
  
  .wrapper > div > p {
    margin-top: 15px;
    max-width: 200px;
  }
  
  .wrapper a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #d5ad72;
    position: relative;
  }
  
  .data-tooltip::before,
  .data-tooltip::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.2s ease;
  }
  
  .data-tooltip::before {
    content: attr(data-tooltip-content);
    width: fit-content;
    font-size: small;
    font-weight: 600;
    background-color: inherit;
    padding: 3px 10px;
    border-radius: 4px;
    bottom: calc(100% + 5px);
  }
  
  .data-tooltip::after {
    content: "";
    border-top: 5px solid #191919;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: calc(100% + 1px);
  }
  
  .data-tooltip:hover::before,
  .data-tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  .span-tooltip > i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .span-tooltip > span {
    position: absolute;
    width: fit-content;
    font-size: small;
    font-weight: 600;
    background-color: inherit;
    padding: 3px 10px;
    border-radius: 4px;
    bottom: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
  }
  
  .span-tooltip > span::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: inherit;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    left: 40%;
  }
  
  .span-tooltip > i:hover + span {
    visibility: visible;
    opacity: 1;
    bottom: calc(100% + 6px);
  }
  