<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <h1 class= "text-center"> About Us </h1>
    <img src=""width=100%>
    <p>
     
     Welcome to our food order website, where we've crafted a digital dining experience that merges convenience and culinary delight. Our passion for good food and seamless service drives us to connect you with a diverse array of restaurants and cuisines right at your fingertips. Whether you're craving a hearty burger, a fresh salad, or exotic international flavors, we've curated an extensive selection of eateries to satisfy every palate. With a user-friendly interface and intuitive design, navigating our platform is a breeze. Discover new flavors, create your personalized orders, and experience the joy of having your favorite meals delivered straight to your door. Join us on this gastronomic journey, where your cravings meet our commitment to delivering an exceptional food ordering experience.
    
    </p>
    </div>
<app-footer></app-footer>