<div class="container">

<div class="col-md-6">
  <div class="card">
      <div class="text-center">
                  <h1>Login</h1>
                  <h6>Please Enter email & password !!</h6>
          
      </div>
      <br>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
      
    <span class="input-span">
    <label for="email" class="label">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email"></span>

    <span class="input-span">
    <label for="password" class="label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="password" ></span>
    
    <div class="eyeshow" (click)="togglePasswordVisibility()">
      <i class="bi bi-eye-slash" style="color: black;" id="togglePassword"></i>
      </div>
    <span class="span"><a href="#">Forgot password?</a></span>
    <input class="submit" type="submit" value="Log in">
    
    <span class="span">Don't have an account? <a routerLink="/sign-up">Sign up</a></span>
    </form>
  </div>
</div>
</div>

